autopep8==2.3.1
backports.tarfile==1.2.0
dj-database-url==2.2.0
dj-rest-auth==6.0.0
django-cors-headers==4.4.0
djoser==2.2.3
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
Django==5.1.1
drf-spectacular==0.27.2
flower==2.0.1
gunicorn==23.0.0
importlib-metadata==8.0.0
importlib-resources==6.4.0
jaraco.text==3.12.1
locust==2.31.5
model-bakery==1.19.5
pillow==10.4.0
pip-chill==1.0.3
pipreqs==0.5.0
psycopg2-binary==2.9.9
pytest-django==4.9.0
pytest-watch==4.2.0
python-decouple==3.8
redis==5.0.8
tomli==2.0.1
whitenoise==6.7.0
sqlparse==0.5.1
django-filter==24.3